.DS_Store
.turbo
.idea
.cache
*.log
*.local
node_modules
dist
dist-ssr
server/dist
public/dist
public/build-info.json
lerna-debug.log
/packages/lib/box-forge/test/gen/**
/packages/studio/boxes/src/**
/packages/studio/adapters/src/index.ts
/packages/app/studio/public/build-info.json
/packages/app/studio/public/sponsors.json
/certs/localhost.pem
/certs/localhost-key.pem
/packages/app/soundfont/public/soundfonts/
/packages/studio/scripting/src/api.declaration.d.ts
tsconfig.tsbuildinfo
/packages/server/api.opendaw.studio/
/packages/server/assets.opendaw.studio/
/packages/server/logs.opendaw.studio/
packages/app/studio/.env
/assets.opendaw.studio/models/**/*.onnx
/assets.opendaw.studio/models/**/*.onnx.partial
/presets/
/announcements/temp.txt
/tmp/
/packages/app/studio/public/docs/scripting/
ota/deploy/

.vercel
.env*
